body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("././assets/black.jpg");
  background-color: #202022;
}

.App {
  margin: 0 5rem;
  /* background-image: url("././assets/black.jpg"); */
}


.navMenu {
  display: flex;
  color: 'red';
  gap: 2rem;
  list-style: none;
}
.navMenuShow{
  display: flex;
  color: 'red';
  gap: 2rem;
  list-style: none;
}
.navButton{
  display: none;
}

@media screen and (max-width: 600px) {
  .App {
    margin: 0;
  }
}
img {
  max-width: 40rem;
  object-fit: cover;
}


@media screen and (max-width: 1015px) {
  img {
    max-width: 100%;
    object-fit: cover;
  }
  .navMenu{
    display: none;
  }
  .navMenuShow{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    background-color: black;
    width: 80%;
    gap: 0.5rem;
    padding: 0;
    z-index: 1;
  }
  .navMenuShow li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 1rem 0;
  }
  .navButton{
    display: block;
    border: none;
    box-shadow: none;
    background-color: transparent;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    
    
  }

}